<div class="row m-2">
  <div class="col-6  ">

    <h2>Product List</h2>
    <table>

      <thead>
      <tr>
        <th>ID&nbsp;&nbsp;</th>
        <th>Name</th>
        <th>Price&nbsp;&nbsp;</th>
        <th>Stock&nbsp;&nbsp;</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}&nbsp;&nbsp;</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td><button (click)="goToDetail(product)">Details</button></td>
      </tr>
      </tbody>

    </table>

    <br>

    <app-shopping-list
      (deleteEvent)="onDeleteEvent($event)" >

    </app-shopping-list>

  </div>
</div>
